<header class="header">
  <section class="search">
    <img src="./assets/images/logu.png" alt="" />
    <form class="form_section">
      <input
        class="input js-cocktail-input"
        type="text"
        name="find"
        placeholder="Mojito..."
      />
      <input class="search_button js-search-btn" type="button" value="Search" />

      <input
        class="search_button reset_button js-reset-btn"
        type="reset"
        value="Reset"
      />
    </form>
  </section>
</header>
