<main class="main">
  <section class="left_section">
    <form class="form_section" action="">
      <input class="input js-input" type="text" name="find" />
      <input type="button" value="Search" />
      <input type="reset" value="Reset" />
    </form>
    <h2 class="favs_title js-favs-title">Your favs</h2>
    <ul class="favs_list js-favs-list"></ul>
  </section>
  <section class="right_section"></section>
  <!--<h2 class="nofavs_title js-nofavs-list">Results</h2>-->
  <ul class="drink_list js-drink-list"></ul>
</main>
