<main class="main">
  <section class="left_section">
    <form class="form_section">
      <input class="input js-cocktail-input" type="text" name="find" />
      <input class="search_button js-search-btn" type="button" value="Search" />
      <input class="reset_button js-reset-btn" type="reset" value="Reset" />
    </form>
    <h2 class="favs_title js-favs-title">Your favs</h2>
    <ul class="favs_list js-favs-list">
      <!-- <li class= "fav_item_list js-fav-item">
        <img
          class="fav_img"
          src="./assets/images/strawberry-cocktail-m.jpg"
          alt=""
          width="100px"
        />
        <h2>Margarita</h2>
      </li> 
    </ul> -->
      
  </section>
  <section class="right_section"></section>
  <ul class="result_list ">
    <!-- <li class="result_item_list js-result-list">
      <img
        class="result_img"
        src="./assets/images/strawberry-cocktail-m.jpg"
        alt=""
        width="100px"
      /> 
      <h2>Caipiriña</h2>
      </li> -->
  </ul>
</main>
