.main {
    display: flex; 
}
.fav_item_list{
display: flex;
justify-content: space-around;
align-items: center;
color: black;
background-color: darkviolet;
border-style: dashed;
}


.result_item_list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: darkviolet;
background-color: black;
margin-top: 40px;
border-style: dotted;
}
    



